# 5.1 文件存储
   
    5.1.1 TXT
        TXT 文本几乎兼容任何平台，但是这有个缺点， 那就是不利于检索
        打开方式：r / rb / r+ / rb+ / w / wb / wb+ / a / ab / a+ / ab
    5.1.2 JSON
        构造简洁但是结构化程度非常高，是一种轻量级的数据交换格式
        json.loads(): 将JSON文本字符串转为JSON对象
        json.dumps(jsondata, indent=2, ensure_ascii=False): 将JSON对象转为文本字符串 ## 如果想保存JSON 的格式, 可以再加一个参数indent, 代表缩进字符个数, 为了输出中文，还需要指定参数ensure_ascii=False
        data.get() 如果键值不存在不会报错，但会反回None, 如果传入第二个参数(即默认值)，那么在不存在的情况下返回该默认值
        !!! JSON字符串的表示需要用双引号，否则loads()方法会解析失败
        
    5.1.3 CSV
    f.writerow([], [], [])

In [1]:
import requests
from pyquery import PyQuery as pq

url = 'https://www.zhihu.com/explore'
headers = {
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Max OS X 10_12_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36'
}
html = requests.get(url, headers=headers).text
doc = pq(html)
items = doc('.explore-tab .feed-item').items()
for item in items:
    question = item.find('h2').text()
    author = item.find('.author-link-line').text()
    answer = pq(item.find('.content').html()).text()
    file = open('explore.txt', 'a', encoding='utf-8')
    file.write('\n'.join([question, author, answer]))
    file.write('\n' + '='*50 + '\n')
    file.close()

In [8]:
# # 简化写法，with控制块在结束时，文件会自动关闭，不需要close()
# with open('explore.txt', 'a', encoding='utf-8') as file: 
#     file.write('\n'.join([question, author, answer])) 
#     file.write('\n' + '='*50 + '\n')

# 5.2 关系型数据库
    
    5.2.1 MySQL
    标准执行语句:
    try:
        cursor.execute(sql)
        db.commit()
    except:
        db.rollback()

In [15]:
import pymysql
# 通过 PyMySQL的connect()方法声明一个MySQL连接对象巾
db = pymysql.connect(host='localhost', user='root', password='19930215', port=3306)
# 调用 cursor()方法获得 MySQL 的操作游标，利用游标来执行 SQL 语句 
cursor = db.cursor()
cursor.execute("SELECT VERSION()")
# 调用 fetchone()方法获得第一条数据，也就得到了版本号
data = cursor.fetchone()
print("Database version:", data)

Database version: ('8.0.12',)

# 5.3 非关系型数据库

    5.3.1 MongoDB 
            也可以通过正则表达式 功能符号 或者 比较符号来查询
    5.3.2 Redis

        
    $type 操作符
    
| 类型	| 数字|	备注|
|---| ---| --- |
|Double	|1||	 
|String	|2	 
|Object	|3	 
|Array	|4	 
|Binary data	|5	 
|Undefined	|6	|已废弃。|
|Object id	|7	 
|Boolean	|8	 
|Date	|9	 
|Null	|10	 
|Regular Expression	|11	 
|JavaScript	|13	 
|Symbol	|14	 
|JavaScript (with scope)	|15	 
|32-bit integer	|16	 
|Timestamp	|17	 
|64-bit integer	|18	 
|Min key	|255	|Query with -1.|
|Max key	|127

In [27]:
import pymongo
client = pymongo.MongoClient(host='localhost', port=27017) # 连接MongoDB
# OR
# client = pymongo.MongoClient('mongodb://localhost:27017')

db = client.test # OR client['test'] # 指定数据库
# 指定集合 Collection
collection = db.students # OR db['students']

In [28]:
student = {
    'id': '20170101',
    'name': 'Jordan',
    'age': 20,
    'gender': 'male'
}
result = collection.insert_one(student) # 使用 insert_one 或者 insert_many
print(result)

<pymongo.results.InsertOneResult object at 0x1135b67c8>

In [43]:
student1 = {
    'id': '20170101',
    'name': 'Kevi',
    'age': 20,
    'gender': 'male'
}
student2 = {
    'id': '20170102',
    'name': 'Mike',
    'age': 21,
    'gender': 'male'
}
result = collection.insert_many([student1, student2])
print(result)
print(result.inserted_ids)

<pymongo.results.InsertManyResult object at 0x1135d2348>
[ObjectId('5b962521bea2f9104c45168b'), ObjectId('5b962521bea2f9104c45168c')]

In [31]:
# 查询
result = collection.find_one({'name': 'Mike'})
print(type(result))
print(result)

<class 'dict'>
{'_id': ObjectId('5b962249bea2f9104c45168a'), 'id': '20170102', 'name': 'Mike', 'age': 21, 'gender': 'male'}

In [33]:
# 根据Objectid来查询, 如果查询结果不存在，则会返回 None。
from bson.objectid import ObjectId
result = collection.find_one({'_id': ObjectId('5b962249bea2f9104c45168a')})
print(result)

{'_id': ObjectId('5b962249bea2f9104c45168a'), 'id': '20170102', 'name': 'Mike', 'age': 21, 'gender': 'male'}

In [41]:
# 计数
collection.count_documents({'age': 20})

2

In [44]:
# 更新 update_one update_many
condition ={'name': 'Kevin' }
student = collection.find_one(condition) 
student['age'] = 25
result = collection.update(condition, student)  #或 collection.update(condition, {'$set': student})
print(result)

TypeError: 'NoneType' object does not support item assignment

In [ ]:
# delete_one()  delete_many()
# find_one_and_delete()
# find_one_and_replace()
# find_one_and_update()
# create_index()
# create_indexes()
# drop_index()